<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% comment %} begin seo {% endcomment %}
  {%- assign card-filename = page.path | split: '/' | last | split: '.' | first | append: '.png' | prepend: '/uploads/' | absolute_url -%}
  {%- if card-filename -%}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@billraymonde" />
    <meta name="twitter:title" content="{{- page.title -}}">
    <meta name="twitter:image" content="{{- card-filename -}}">
    <meta property="og:image" content="{{- card-filename -}}">
    <meta property="og:description" content="{{- page.title -}}"/>
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="675">  
  {%- endif -%}
  {% comment %} end seo {% endcomment %}
  <link rel="icon" href="{{- site.data.configs.logo-favicon | relative_url -}}" type="image/x-icon">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
</head>
