<header class="site-header" role="banner">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-banner" rel="author" href="{{ "/" | relative_url }}" alt="{{ site.title | escape }}">
      <img src="{{-site.data.configs.logo-large-horizontal | relative_url-}}" alt="The Agile in Action Podcast with Bill Raymond logo">
    </a>

    {% comment %} Create a navigation pane {% endcomment %}
      <nav>
        <ul>
          {%- assign menuItems = site.data.main-menu.items -%}
          {%- for menu in menuItems -%}
            {%- if menu.url == page.permalink -%}
              <li><a class="page-link-current" href="{{ menu.url | relative_url }}">{{- menu.title | escape -}}</a></li>
            {%- else -%}
              <li><a class="page-link" href="{{ menu.url | relative_url }}">{{- menu.title | escape -}}</a></li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </nav>
  </div>
</header>
