
{% comment %} Display the first post {% endcomment %}
{% comment %} If this is an admin page, display future posts {% endcomment %}
{%- if page.url contains "admin" -%}
  {%- assign podcastPosts = site.posts
    | where_exp: 'podcastPost', 'podcastPost.guest-details != nil' 
    | where_exp: 'podcastPost', 'podcastPost.date >= site.time'
    | reverse
  -%}
  {%- assign admin = true -%}
{%- else -%}
  {%- assign podcastPosts = site.posts 
    | where_exp: 'podcastPost', 'podcastPost.date <= site.time' 
    | where_exp: 'podcastPost', 'podcastPost.guest-details != nil' 
  -%}
  {%- assign admin = false -%}
{%- endif -%}

{%- comment -%}Display podcast posts{%- endcomment -%}
{%- if podcastPosts.size > 0 -%}
  <ul class="post-list">
    {%- for podcastPost in podcastPosts limit: podcastLimit offset: podcastOffset -%}
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- assign cardLink = podcastPost.url | relative_url -%}
      {%- assign podcastTitle = podcastPost.title | escape -%}
      {%- assign guestDetails = podcastPost.guest-details -%}
      {%- comment -%}
        The following code will remove the extension of the post, like .md or .markdown
        and rename the file with a .png extesion. To rename, you need to get the
        size of the filename and the size of the extension, then you
        remove the original extension and replace with a new one.
      {%- endcomment -%}
      {%- assign cardFileName = podcastPost.path 
        | split: '/' 
        | last 
        | prepend: '/uploads/wf-featured-images/' 
        | relative_url
      -%}
      {%- assign cardExtension = cardFileName.size | split: '.' | last | size -%}
      {%- assign cardFileSize = cardFileName.size -%}
      {%- assign cardFileExtensionSize = cardFileName | split: '.' | last | size -%}
      {%- assign cardFileSizeNoExtension = cardFileSize | minus: cardFileExtensionSize | minus: 1 -%}
      {%- assign cardFileName = cardFileName | slice: 0,cardFileSizeNoExtension | append: ".png" -%}
      <li>
        {%- if displaySmall -%}
            {%- if guestDetails.size > 0 -%}
              <div class="small-guest-boxes">
                <a href="{{cardLink}}"><h3>{{podcastTitle}}</h3></a>
                <div class="podcast-player" itemprop="podcastPlayer">
                    {%- assign player-id = podcastPost.libsynUrl | split: '/' | last -%}
                    {%- if player-id -%}
                        <iframe class="podcast-player"
                            style="border: none" 
                            src="//html5-player.libsyn.com/embed/episode/id/{{player-id}}/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/f49f1c/"
                            height="90" 
                            width="100%" 
                            scrolling="no"  
                            allowfullscreen 
                            webkitallowfullscreen 
                            mozallowfullscreen 
                            oallowfullscreen 
                            msallowfullscreen>
                        </iframe>
                    {%- else -%}
                        <h2>No audio link found</h2>
                    {%- endif -%}
              </div>
              {%- for guestDetail in guestDetails -%}
                {%- assign guestPhoto = guestDetail.guest-photo | split: "/" | last | split: "." | first | append: '.png'-%}
                {%- assign guestImage = "/uploads/wf-guest-images-fi/" | append: guestPhoto | relative_url -%}
                <img src="{{guestImage}}" alt="{{guestDetail.guest-name | escape}}" class="small-guest-box">
              {%- endfor -%}
              </div>
            {%- endif -%}
        {%- else -%}
          {%- if admin == true -%}
            <h3>{{- podcastPost.date | date: date_format -}}</h3>
          {%- endif -%}
          <a href="{{- cardLink -}}"><img src="{{- cardFileName -}}" alt="{{- podcastTitle -}}"></a>
          <h3><a class="post-link" href="{{cardLink}}">{{podcastTitle}}</a></h3>
        {%- endif -%}
        {%- if guestDetails.size > 0 -%}
          {%- for guestDetail in guestDetails -%}
            {%- assign guestName = guestDetail.guest-name | escape -%}
            {%- assign guestTitle = guestDetail.guest-title | escape | strip  -%}
            {%- if guestTitle.size > 0 -%}
              {%- assign guestName = guestName | append: ", " | append: guestTitle -%}
            {%- endif -%}
            <strong>with </strong><span class="guest-name" itemprop="name">{{guestName}}</span><br>
          {%- endfor -%}
        {%- endif -%}
        {%- if admin == true -%}
          {{ podcastPost.url | prepend: "https://agileinaction.com" }}
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
