    {% comment %} <h2>Links</h2> {% endcomment %}
    {%- assign podcastGuests = page.guest-details -%}
    {%- if podcastGuests.size > 0 -%}
        {%- for guest in podcastGuests -%}
            <h3>{{- guest.guest-name -}},&nbsp;{{- guest.guest-title -}}</h3>
            <ul>
            {%- for link in guest.guest-links -%}
                <li>
                    <a href="{{- link.guest-link-url -}}" target="blank">
                        {{- link.guest-link-label -}}
                    </a>
                </li>
            {%- endfor -%}
            </ul>
        {%- endfor -%}
    {%- endif -%}