{%- comment -%}
    Display a list of podcast players for the user to select
{%- endcomment -%}
<div class="post-content podcast-badges" itemprop="podcastBadges">
    {%- assign badges = site.data.podcast-badges.items | sort: "orderby" -%}
    {%- for badge in badges -%}
        <a href="{{- badge.url | relative_url -}}" class="podcast-badge-link" target="_blank">
            <img class="podcast-badge" itemprop="podcastBadge" src="{{- badge.imageUrl |relative_url -}}" alt="alt">
        </a>
    {%- endfor -%}
</div>