
{% comment %} Display the first post {% endcomment %}
{%- assign posts = site.posts 
    | where_exp: 'post', 'post.date <= site.time' 
    | where_exp: 'post', 'post.guest-details != nil' -%}
{%- if posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "All podcasts" }}</h2>
    <ul class="post-list">
      {%- for post in posts offset: 1 -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- assign cardFileName = post.path | split: '/' | last | split: '.' | first | append: '.png' | prepend: '/uploads/' | relative_url -%}
        {%- assign cardLink = post.url | relative_url -%}
        <a href="{{- cardLink -}}"><img src="{{- cardFileName -}}" alt="{{- post.title | escape -}}"></a>
        <h3>
          {%- assign title = post.title -%}
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
    {%- endfor -%}
    </ul>
{%- endif -%}