// Cambermast branding
$cambermastPrimary: #0037Be;
$cambermastBlack: #0e0c0c;
$cambermastWhite: #ffffff;
$cambermastAltLightBlue: #0063f2;
$cambermastAltDarkBlue: #012072;
$cambermastAltGreen: #8bd88d;
$cambermastAltOrange: #f49f1c;
$cambermastAltSand: #e5a16e;
