// Layout to display any podcast badges

.podcast-badges {
    display: grid;
    grid-template-columns: repeat(auto-fill, 130px);
    justify-content: start;
    gap: 5px;
}

.podcast-badge {
  display: grid;
  width: auto;
}

// /* uncomment for a visual representation of the grid */
// .post-content.podcast-badges * {
//     border: 1px solid red;
//     position: relative;
// }
  
// .post-content.podcast-badges *:after {
//     content:attr(class);
//     color: red;
//     position: absolute;
//     top: 0;
//     left: 0;
// }
