---
layout: default
---

<div class="home">
  {{ content }}

{%- comment -%} Display the featured post {%- endcomment -%}
<h2 class="post-list-heading">{{ page.list_title | default: "Latest Agile in Action Podcast with Bill Raymond" }}</h2>
{%- assign podcastLimit = 1 -%}
{%- assign podcastOffset = 0 -%}
{%- include podcast-posts.html -%}
{%- comment -%} Display all posts {%- endcomment -%}
<h2 class="post-list-heading">{{ page.list_title | default: "Previous podcasts" }}</h2>
{%- assign podcastLimit = 12 -%}
{%- assign podcastOffset = 1 -%}
{%- assign displaySmall = true -%}
{%- include podcast-posts.html -%}

<a href="{{"/allpodcasts" | relative_url}}">See all podcasts >></a>
<p></p>

<p class="rss-subscribe">subscribe <a href="{{ site.data.configs.rssFeed }}">via RSS</a></p>
</div>
